/* User profile (page header): */
.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding-top: 120px;
  background-color: cornflowerblue;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

/* Profile picture: */
.user-profile > img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 12rem;
}

/* User full name (displayed under profile picture): */
.user-profile > div {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

/* Mobile and tablet styles: */
@media only screen and (max-width: 1023px) {
  .user-profile {
    width: 100vw;
  }
}

/* Desktop styles: */
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .user-profile {
    margin: 5rem;
    margin-top: 200px;
    padding-top: 0px;
    max-width: 600px;
  }
}