/* Tweet composition section: */
main > section {
  width: 100%;
  padding: 1.5rem 0rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  border-bottom: 2px solid #545149;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  resize: none;
  background-color: #f4f1ec;
  font-size: 1rem;
}

/* Container for error messages: */
#error-messages {
  display: flex;
  justify-content: center;
}

/* Styles for individual errors: */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(247, 65, 65, 0.4);
  color: rgb(181, 35, 35);
  border: 0.5px solid rgba(247, 65, 65, 0.4);;
  padding: 0.75rem;
  border-radius: 100px;
}

.error:hover {
  box-shadow: none;
}

.error > i {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Display if user submits form without text: */
#no-text {
  display: none;
}

/* Display if user exceeds character limit of 140: */
#char-count {
  display: none;
}

button {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
}

/* Character count output element: */
form > footer > output {
  font-family: 'Bungee', sans-serif;
}

/* Footer contains button and character counter: */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
}